* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #23242a;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, yellow);
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, yellow);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

form {
    position: absolute;
    inset: 2px;
    background: #28292d;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #ffb056;
    font-width: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.inputBox input {
    position: relative;
    all: revert;
    width: 100%;
    color: #8f8f8f;
    padding: 1rem;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    transition: 150ms;
    background: transparent;
    z-index: 10;
    cubic-bezier(4, 0, 1);
}

.inputBox label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #8f8f8f;
    pointer-events: none;
    transition: 150ms;
    background-color: transparent ;
    background: none;
    clip-path: inset(0 round 2px);
    cubic-bezier(0.4, 0, 1);
}

.input:focus {
    border: 1px solid;
    var(~~primary);
}

.input:is(:focus, :valid) ~ label {
    transform:  translateY(-130%)
                scale(0.8);
    background-color: #28292d;
    padding-inline: 0.2rem;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #ffb056;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: beige;
}

.links a:hover,
.links a:nth-child(2) {
    color: #ffb056;
}

input[type = "submit"] {
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #ffb056;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

input[type="submit"]:active {
    opacity: 0.8;
}